<meta charset="UTF-8">
<title>Testing title</title>
<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" type="text/css" href="../../views/css/tailwind.css">
<style>
  body { padding-top:50px; }
</style>