<meta charset="UTF-8">
<title>Gitlab CICD Dashboard</title>
<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" type="text/css" href="../../views/css/tailwind.css">
<link rel="stylesheet" type="text/css" href="../../views/css/styles.css">
  <script src="http://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="../../views/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
<style>
  body { padding-top:50px; }
</style>