<% for(let i=0; i<pending.length; i++){ %>
    <a href="<%=pending[i].web_url%>" target="_blank">
      <div
        class="pending-card sm:p-5 sm:h-26 p-1 min-h-0 w-auto border-solid border-1 text-gray-400 bg-gray-50 transition duration-200 ease-in-out transform hover:scale-110">
        <div class="relative">#<span class="text-red-400" style="font-weight:bold">
            <%= pending[i].id %>
          </span></div>
        Created At: <span class="text-gray-400 relative">
          <%= pending[i].created_at %>
        </span><br>
        tags: <span class="text-gray-400 relative">
          <%= pending[i].tag_list %>
        </span>
      </div>
    </a>
    <%}%>