<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <link rel="preconnect" href="https://fonts.googleapis.com"> 
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>
    <main>

    </main>
<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>

